.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  color: greenyellow;
  font-size: 24px;
  line-height: 36px;
  background-color: #000;
  border: none;
  cursor: pointer;
  margin: 0 15px;
}
